a.has-hover-img {
  opacity: 1 !important; }
  a.has-hover-img img {
    width: 250px;
    max-width: 250px;
    height: auto;
    z-index: 9999; }

.hover-reveal {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: fixed;
  width: 250px;
  height: auto;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  z-index: 9999; }
  .hover-reveal.showed {
    -webkit-box-shadow: 0px 7px 52px -12px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 7px 52px -12px rgba(0, 0, 0, 0.36);
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease; }

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9999; }
